<!--RECORDAR MODIFICAR ENLACES A PANTALLA PRINCIPAL, YA QUE CAMBIAN LOS NOMBRES DE LOS ARCHIVOS Y DEMAS-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="expand-lg pantallas">
    <div id="busqueda">
        <h1 class="text-center text-info pt-5 mb-2 "></br>Encontrá tu prestador</h1>
        <div class="container">
            <div id="options-row" class="row d-flex justify-content-around ">
                <div class="col-sm">
                    <div class="form-group">
                        </br>
                        <select class="form-control" id="Especialidad">
                            <option>-ELIJA UNA ESPECIALIDAD-</option>
                            {%for datadisplay in Especialidad %}
                            <option value={{datadisplay.NEspe}}>{{datadisplay.NEspe}}</option>
                            {%endfor%}
                        </select>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="form-group">
                        </br>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>-ELIJA UNA OBRA SOCIAL-</option>
                            <option>Insssep</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        </br>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>-ELIJA UNA PROVINCIA-</option>
                            <option>Chaco</option>
                        </select>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="form-group">
                        </br>
                        <select class="form-control " id="exampleFormControlSelect1">
                            <option>-ELIJA UNA LOCALIDAD-</option>
                            {%for datadisplay in Localidad %}
                            <option value={{datadisplay.NEspe}}>{{datadisplay.NLoca}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>

            </div>
            </br></br>

            <!--BOTON DE BUSCAR LOS PRESTADORES-->
            <div class="container d-flex justify-content-center">
                </br></br>
                <a class="" href="/resultadosBusq"><button type="button"
                        class="btn btn-outline-info btn-lg">- B U S C A R -</button></a>

            </div>
        </div>

    </div>

</section>
{% endblock %}