<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <table border="1">
        <tr>
            <th>Proveedor</th>
            <th>Especialidad</th>
            <th>Drección</th>
            <th>Teléfono</th>
            <th>Localidad</th>
            <th>Provincia</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</body>
</html>