<!--RECORDAR MODIFICAR ENLACES A PANTALLA PRINCIPAL, YA QUE CAMBIAN LOS NOMBRES DE LOS ARCHIVOS Y DEMAS-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="expand-lg pantallas">
    <div id="busqueda">
        <h1 class="text-center text-info pt-5 mb-2 "></br>Mi lista de prestadores</h1>
        <div class="container-fluid">
            </br></br></br>



            <!--ACA VAN LAS TARJETAS DE LOS DOCTORES CON SUS DETALLES-->
            <div id="results-row" class="row d-flex justify-content-around">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-block block-1">
                            <h3 class="card-title">Nombre y Apellido</h3>
                            <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                            <a href="https://www.fiverr.com/share/qb8D02" title="Read more" class="read-more">Ver mas
                                info<i class="fa fa-angle-double-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-block block-2">
                            <h3 class="card-title">Nombre y Apellido</h3>
                            <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                            <a href="https://www.fiverr.com/share/qb8D02" title="Read more" class="read-more">Ver mas
                                info<i class="fa fa-angle-double-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-block block-3">
                            <h3 class="card-title">Nombre y Apellido</h3>
                            <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                            <a href="https://www.fiverr.com/share/qb8D02" title="Read more" class="read-more">Ver mas
                                info<i class="fa fa-angle-double-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-block block-4">
                            <h3 class="card-title">Nombre y Apellido</h3>
                            <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                            <a href="https://www.fiverr.com/share/qb8D02" title="Read more" class="read-more">Ver mas
                                info<i class="fa fa-angle-double-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>

</section>
</div>
{% endblock %}