<!--RECORDAR MODIFICAR ENLACES A PANTALLA PRINCIPAL, YA QUE CAMBIAN LOS NOMBRES DE LOS ARCHIVOS Y DEMAS-->
{% extends 'base.html' %}
{% load static %}



{% block nav %}
<a href="/resultadosBusq">
    <svg width="2em" height="2em" viewBox="0 0 16 16" style="color:white;" class="bi bi-arrow-left-circle mr-2 ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
    </svg>
</a>
{% endblock %}


{% block content %}

<section class="expand-lg pantallas">
    <div class="subtitulo" id="busqueda">
        <h1 class="text-center text-info pt-5 mb-2 "></br>Tu prestador</h1>
        <div class="container-fluid">

            <!--ACA VAN LAS TARJETAS DE LOS DOCTORES CON SUS DETALLES-->
            </br></br>
            <div class="col-mb-4 d-flex justify-content-center">

                <div class="card text-white bg-info mb-3" style="width: 28rem;">
                    <div class="card-block tarjet block-1">
                        <h3 class="card-title">{{resultados.nombrePrestador}}</h3>
                        <p class="opciones card-text">Especialidad: {{resultados.nombreEspecialidad}}</p>
                        <p class="opciones card-text">Obra Social: InSSSep</p>
                        <p class="opciones card-text">Localidad: {{resultados.localidadPrestador}}</p>
                        <p class="opciones card-text">Direccion: {{resultados.direccionPrestador}}</p>
                        <p class="opciones card-text">Numeros de contacto: {{resultados.telefonoPrestador}}</p>


                        <a href="#" title="Guardar como favorito"
                            class="read-more">Añadir a Mi Lista<i class="fas fa-star ml-2"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>
</div>
{% endblock %}




{% block footer %}

<div class="footer page-footer linea1">
    <div class="bottom section-padding">
        <div class="container linea1">
            <div class="row linea1">
                <div class="col-md-12 text-center linea1">
                    <div class="copyright">
                        <p>© <span>2020</span> <a href="#" class="transition">MyPOL-Org  -  Informatorio</a> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}