<!--RECORDAR MODIFICAR ENLACES A PANTALLA PRINCIPAL, YA QUE CAMBIAN LOS NOMBRES DE LOS ARCHIVOS Y DEMAS-->
{% extends 'base.html' %}
{% load static %}



{% block content %}
<section class="expand-lg pantallas">
    <div id="busqueda">
        <h1 class="text-center text-info pt-5 mb-2 "></br>Resultados de la busqueda</h1>


        </br></br></br>
        <!--ACA VAN LAS TARJETAS DE LOS DOCTORES CON SUS DETALLES-->
        <div id="results-row" class="container">
            <div class="row">
                {%for datadisplay in sqlserverconn%}
                <div clas="col-sm-6" border="1">
                    <div class="card">
                        <div class="card-block block-1" style="width: 30rem;">
                            <div class="card-body">
                                <h3 class="card-title">{{datadisplay.nombrePrestador}}</h3>
                                <p class="card-text">Especialidad: {{datadisplay.nombreEspecialidad}}:</br>Obra Social:
                                    INSSSEP</br>Localidad: {{datadisplay.nombreLocalidad}}</p>
                                <a href="template_perfilPrestador.html#cuerpito" title="Ver info" class="read-more">Ver
                                    mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>

            <!--coment>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-block block-2">
                                    <h3 class="card-title">Nombre y Apellido</h3>
                                    <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                                    <a href="template_perfilPrestador.html#cuerpito" title="Read more" class="read-more" >Ver mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-block block-3">
                                    <h3 class="card-title">Nombre y Apellido</h3>
                                    <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                                    <a href="template_perfilPrestador.html#cuerpito" title="Read more" class="read-more" >Ver mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-block block-4">
                                    <h3 class="card-title">Nombre y Apellido</h3>
                                    <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                                    <a href="template_perfilPrestador.html#cuerpito" title="Read more" class="read-more" >Ver mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>
                        </div> -->

        </div>


    </div>
    </div>

</section>
</div>
{% endblock %}