<!--RECORDAR MODIFICAR ENLACES A PANTALLA PRINCIPAL, YA QUE CAMBIAN LOS NOMBRES DE LOS ARCHIVOS Y DEMAS-->
{% extends 'base.html' %}
{% load static %}



{% block nav %}
<a href="/encontraTuPol">
    <svg width="2em" height="2em" viewBox="0 0 16 16" style="color:white;" class="bi bi-arrow-left-circle mr-2 ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
    </svg>
</a>
{% endblock %}


{% block content %}
<section class="expand-lg pantallas">
    <div id="busqueda">
        <h1 class="text-center text-info pt-5 mb-2 "></br>Resultados de la búsqueda</h1>


        </br></br></br>
        <!--ACA VAN LAS TARJETAS DE LOS DOCTORES CON SUS DETALLES-->
        <div id="results-row" class="row d-flex justify-content-around">

            {%for datadisplay in sqlserverconn%}
            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-block block-1">
                        <div class="card-body">
                            <h3 class="card-title">{{datadisplay.0}}</h3>
                            <p class="card-text">Especialidad: {{datadisplay.1}}</br>Obra Social:
                                INSSSEP</br>Localidad: {{datadisplay.4}}</p>
                            <a href="/perfilPOL" title="Ver info" class="read-more">Ver
                                mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}


            
                   
            <nav aria-label="Page navigation example">
                <ul class="pagination">


                    {% if page_obj.has_previous %} 

                        <li class="page-item">

                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo; Primero </span>
                                
                            
                            </a>
                            
                        </li>
                        <li class="page-item">

                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">Anterior </span>
                                
                            
                            </a>
                            
                        </li>
                    {% endif %}

                    <li class="page-item">

                        <a class="page-link" aria-label="Page">
                            <span class="current">
                                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                            </span>
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">

                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">Siguiente</span>
                                
                            
                            </a>
                            
                        </li>
                        <li class="page-item">

                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">Último&raquo; </span>
                                
                            
                            </a>
                            
                        </li>
                    {% endif %}

                  
                </ul>
              </nav>
            <!--coment>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-block block-2">
                                    <h3 class="card-title">Nombre y Apellido</h3>
                                    <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                                    <a href="template_perfilPrestador.html#cuerpito" title="Read more" class="read-more" >Ver mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-block block-3">
                                    <h3 class="card-title">Nombre y Apellido</h3>
                                    <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                                    <a href="template_perfilPrestador.html#cuerpito" title="Read more" class="read-more" >Ver mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-block block-4">
                                    <h3 class="card-title">Nombre y Apellido</h3>
                                    <p class="card-text">Especialidad:</br>Obra Social:</br>Localidad:</p>
                                    <a href="template_perfilPrestador.html#cuerpito" title="Read more" class="read-more" >Ver mas info<i class="fa fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>
                        </div> -->

        </div>


    </div>
    </div>

</section>
{% endblock %}

